<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>{{>header}}</h1>
        <h2>{{text}}</h2>
        <h3>{{>footer}}</h3>
    </body>
</html>